*{
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}
.div{
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
}
.div2{
    width: 60%;
    height: 100%;
    position: fixed;
    top: 10%;
    left: 40%;
}
.div2 p{
    font-size: 30px;
    font-family: fantasy;
}
.div2 a{
    font-size: 30px;
    font-family: fantasy;
    color: darkblue;
}